<!DOCTYPE html>
<html lang="en">

<head>


  <style>
    .container {
      width: 900px;
      margin: auto;
      padding-top: 1em;
    }

    .container .ism-slider {
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="ism/css/my-slider.css" />
  <script src="ism/js/ism-2.2.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body style="">
    
<header>
  <!--logo-->
  <div class="angry-grid">
    <div id="item-0">
      <img src="phota\2__1___1_-removebg-preview - Copy.png" class="center">
    </div>
    <!--nvbar-->
    <div id="item-1">
      <nav id='menu' style="height:58px">
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()' class="center"><label></label>
        <ul>
          <li>
            <a href="Home.aspx">
              <i class="fa fa-home fa-lg" aria-hidden="true"></i>Home</a>
          </li>
          <li>
            <a href='http://'>
              <i class="fa fa-book fa-fw fa-lg" aria-hidden="true"></i>How to download</a>
          </li>
          <li><a href="login.aspx"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>login</a></li>
          <li style="padding-right: 40px ;"><a href="">
              <i class='fas fa-cannabis fa-lg'></i>contact</a></li>
        </ul>
      </nav>
    </div>
    <div id="item-2">
      <p>021<span>☠</span></p>
  </div>
</header>
    
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

        </asp:ContentPlaceHolder>
     
  
  


  

<div class="footer-bottom">
<h2 style="margin-bottom:0px">Copyright &nbsp;&nbsp;<span>&copy;</span>&nbsp;&nbsp; All&nbsp; Right&nbsp;&nbsp; Reserved&nbsp; | &nbsp;Designed &nbsp;&nbsp;<span>By &nbsp;HK&nbsp; Gaming&nbsp;</span> 2023
</h2>
</div>
    
</body>

</html>